# Quarto
docs/_site/
docs/.quarto/
_freeze/
.quarto/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Claude Code
.claude/

# Local settings
settings.local.json
*.local.json

# File generati
docs/extra/googleipranges.txt
