site_name: Corso di Informatica
site_author: Federico Robuffo

copyright: >
    Federico Robuffo - Andrea Diamantini(c) 2024-2025<br>
    <a href="#__consent">Change Cookie Settings</a>

# ----------------------------------------------------

theme:
  name: material
  palette:
  # Palette toggle for light mode
  - scheme: default
    primary: blue
    accent: light blue
    toggle:
      icon: material/brightness-7 
      name: Switch to dark mode
  # Palette toggle for dark mode
  - scheme: slate
    primary: blue
    accent: light blue
    toggle:
      icon: material/brightness-4
      name: Switch to light mode
  font: False
  language: it
  features:
    - navigation.footer
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - toc.integrate
    - content.code.copy
  plugins:
    - search:
        lang: it
    - mermaid2:
        arguments:
          securityLevel: 'loose'
          theme: 'base'
          flowchart:
            htmlLabels: true
            useMaxWidth: true
            curve: 'basis'
    - mkdocs-video:
        is_video: True
        video_muted: True
        video_controls: True
        css_style:
          width: "100%"

extra:
  consent:
    title: Consenso all'uso dei Cookie(s)
    description: >
      Questo sito memorizza alcuni cookies solo per riconoscere un visitatore 
      che non è alla sua prima visita e alcune preferenze, come il tema di visualizzazione
      della pagina selezionato.<br>
      Se non acconsenti, questa finestra riapparirà ogni volta che riapri il sito.<br>
      Se vuoi cambiare le tue scelte, in fondo alla pagina trovi un link per modificarle ;)
    actions:
     - accept
     - reject

extra_css:
- stylesheets/extra.css

extra_javascript:
- javascripts/mermaid-config.js

hooks:
- hooks/pdf_button.py

# ----------------------------------------------------

markdown_extensions:
  - admonition: {}
  - attr_list: {}
  - toc: {}
  - def_list: {}
  - pymdownx.emoji: {}
  - pymdownx.tasklist: {custom_checkbox: True}
  - pymdownx.highlight: {anchor_linenums: True}
  - pymdownx.inlinehilite: {}
  - pymdownx.snippets: {}
  - pymdownx.superfences:
        # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom


# -----------------------------------------------------------------------------------------------
 
nav:
  - Home: index.md
  - Le basi..:
    - Introduzione: 
      - Concetti fondamentali : fundamentals/00_basics.md
      - Mappa concettuale : fundamentals/01_map.md
    - Hardware:
      - Architettura di un elaboratore: hwsw/10_hw.md
      - BIOS: hwsw/11_bios.md
    - Software: 
      - Classificazione: hwsw/20_sw.md
      - Sistemi Operativi: 
        - Storia: hwsw/21_os_intro.md
        - Architettura: hwsw/22_os_arch.md
        - Macchine virtuali: hwsw/23_os_vm.md
        - Interfaccia da linea di comando (CLI): hwsw/24_os_cli.md
        - Extra:
          - Shortcuts: hwsw/25_extra_shortcuts.md
    - La codifica delle informazioni:
      - Codifiche numeriche: infoCoding/00_intro.md
      - Testo: infoCoding/01_digit_text.md
      - Immagini: infoCoding/02_digit_img.md
      - Suoni: infoCoding/03_digit_audio.md
      - Video: infoCoding/04_digit_video.md
      - File: infoCoding/05_file.md
  - Extra:
    - Gioco dell'assassino: extra/emailMurderGame.md
  - A,B,C..: 
    - Parole : dictionary/00_dict.md
    - Mappa : dictionary/01_map.md
  - Algoritmi: 
    - Flowgorithm : algocoding/01_flowgorithm.md
    - Python : algocoding/02_python_from_flowgorithm.md
 
