name: ci 
on:
  push:
    branches:
      - master 
      - main
permissions:
  contents: write
jobs:
  deploy:
    if: ${{ contains(github.event.head_commit.message, '[ci]') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Install dependencies
        run: pip install requests
      - run: pip install mkdocs-material
      - run: pip install mkdocs-mermaid2-plugin
      - run: pip install mkdocs-video
      - run: pip install "markdown-exec[ansi]"
      - name: Install Chrome for PDF generation
        run: |
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
      - name: Esegui lo script per generare i PDF (prima del build)
        run: python code/generate_pdfs.py
      - name: Esegui lo script per generare il file IP
        run: python code/googleiprangeparser.py --output docs/extra/googleipranges.txt
      - name: Build MkDocs site
        run: mkdocs build
      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
